* {
	box-sizing: border-box;
}
img {
	border: 2px solid gray;
	width: 95% !important;
	height: 260px !important;
	margin-top: 10px;
}
.thumbnail {
	height: 420px;
	text-align: left;	 
}
.dropdown-menu li {
	list-style-image: url(imagenes/galaxy.png) !important;
	list-style-position: inside;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-menu li a {
	display: inline !important;
	padding: 0;
	margin: 0;
}
.formulario {
	width: 40%;
	margin: 0 auto;
	background-color: rgba(127, 255, 212, 0.329);
	border-radius: 10px;
}
