* {
	box-sizing: border-box;
}
img {
	border-radius: 5px;
	width: 95% !important;
	height: 260px !important;
	margin-top: 10px;
}
body {
	font-family: 'ZCOOL XiaoWei', serif;
}
.thumbnail {
	height: 420px;
	text-align: left;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.466);
}
.dropdown-menu li {
	list-style-image: url(imagenes/galaxy.png) !important;
	list-style-position: inside;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-menu li a {
	display: inline !important;
	padding: 0;
	margin: 0;
}
.formulario {
	width: 40%;
	margin: 0 auto;
	margin-top: 35px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgba(151, 189, 176, 0.171);
	border-radius: 10px;
	color: rgb(138, 171, 201) !important;
}
.navbar {
	margin: 0;
	border: 0;
	font-weight: bold;
}
.caption {
	background-color: rgba(7, 7, 7, 0.432) !important;
	border-radius: 10px;
	color: rgb(138, 171, 201) !important;
}
canvas {
	display: block;
	position: absolute;
	top: 0;
	z-index: -1;
}
#particles-js {
	background-color: #000000;
	height: 100% !important;
	min-height: 1020px;
	width: 100%;
	position: relative;
	z-index: 666;
	padding-top: 40px;
}
.collapse {
	padding: 0;
}

@media only screen and (max-width: 480px) {
	.navbar-collapse, .navbar-header {
		margin: 0 !important;
		padding-left: 15px !important;
	}
	.formulario {
		width: 90%;
		margin: auto;
	}
	#particles-js {
		padding-top: 20px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.navbar-collapse, .navbar-header {
		margin: 0 !important;
		padding-left: 15px !important;
	}
	#particles-js {
		padding-top: 20px;
	}
	.formulario {
		width: 75%;
		margin: auto;
	}
}